Repository guardian/source-apps, pull requests merged in 2025-07, with the labels that each got.

#211 Use Gradle library release workflow
  .github/workflows/api-check.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  android/.tool-versions
  android/RELEASING.md
  android/build-logic/convention/gradle-lint-baseline.xml
  android/build-logic/convention/src/main/kotlin/com/theguardian/convention/shared/BaseModuleConfig.kt
  android/build.gradle.kts
  android/gradle/libs.versions.toml
  android/sample/build.gradle.kts
  android/source/api/README.md
  android/source/api/source-api.txt
  android/source/api/source.api
  android/source/build.gradle.kts
  android/version.txt
Labels: Android

#217 New Source Component Testing App
  Package.swift
  SourceSample/SourceSample.xcodeproj/project.pbxproj
  SourceSample/SourceSample.xcodeproj/xcshareddata/xcschemes/Sourcy.xcscheme
  SourceSample/SourceSample/Buttons/ButtonBuilderView.swift
  SourceSample/SourceSample/Buttons/ButtonExamplesView.swift
  SourceSample/SourceSample/Buttons/ButtonThemeBuilderView.swift
  SourceSample/SourceSample/Buttons/IconPickerView.swift
  SourceSample/SourceSample/Color/ColorSwatchView.swift
  SourceSample/SourceSample/Color/ColorView.swift
  SourceSample/SourceSample/CopyableLabel.swift
  SourceSample/SourceSample/DisplayExtention.swift
  SourceSample/SourceSample/Icons/IconModel.swift
  SourceSample/SourceSample/Icons/IconView.swift
  SourceSample/SourceSample/Media.xcassets/AccentColor.colorset/Contents.json
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/Contents.json
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon1024.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon128.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon16.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon256 1.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon256.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon32 1.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon32.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon512 1.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon512.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIcon64.png
  SourceSample/SourceSample/Media.xcassets/AppIcon.appiconset/SourcyIconiOS.jpg
  SourceSample/SourceSample/Media.xcassets/Contents.json
  SourceSample/SourceSample/NavigationRootView.swift
  SourceSample/SourceSample/Typography/TypographyModel.swift
  SourceSample/SourceSample/Typography/TypographyView.swift
  SourceSample/Sourcy.entitlements
  Sources/Source/ColorPalette/ColorPalette+macos.swift
  Sources/Source/ColorPalette/ColorPalette.swift
  Sources/Source/ColorPalette/Extensions/UIColor+Dynamic.swift
  Sources/Source/Components/Buttons/ButtonPriority.swift
  Sources/Source/Components/Buttons/ButtonSize.swift
  Sources/Source/Components/Buttons/ButtonStyle+SourceButtonStyle.swift
  Sources/Source/Components/Buttons/ButtonTheme.swift
  Sources/Source/Components/PaginationProgressBar.swift
  Sources/Source/Components/ScrollingPaginationIndicator.swift
  Sources/Source/Components/Sub Navigation/SubNavigationItem.swift
  Sources/Source/Components/Sub Navigation/SubNavigationItemColorPalette.swift
  Sources/Source/Components/Sub Navigation/SubNavigationItemView.swift
  Sources/Source/Components/Sub Navigation/SubNavigationView.swift
  Sources/Source/Resources/SourceIcon.swift
Labels: iOS

#225 Fixes for minor issues with android palette
  android/source/src/main/kotlin/com/gu/source/foundation/palette/palette.png
  android/source/src/main/res/values/palette.xml
Labels: Android, Tiny 🐁
